cmake-build*
.idea

# exclude testing roms
data/common/datadir/roms/gb/*.gb
data/common/datadir/roms/gg/*.gg
data/common/datadir/roms/megadrive/*.gen
data/common/datadir/roms/nes/*.nes
data/common/datadir/roms/sms/*.sms
data/common/datadir/roms/snes/*.sfc
data/common/datadir/roms/pce/*.pce
data/common/datadir/roms/gba/*.gba
data/common/datadir/roms/lynx/*.lnx
